<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Gerenciamento de Pokémon</h1>
    <ul>
        <li><a href="/pokedex">Ir para a Pokédex</a></li>
        <li><a href="/treinador">Ir para Treinadores</a></li>
    </ul>
</body>
</html>
