body {
  background-color: #f0f4ff; /* Fundo claro para contrastar com azul */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff; /* Fundo branco para o container */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #003366; /* Azul escuro */
}

.form-container, .pokemon-list-container {
  margin: 20px 0;
}

h3 {
  text-align: center;
  color: #00509e; /* Azul claro */
}

.add-pokemon-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 10px 0;
  width: 100%;
}

label {
  margin-bottom: 5px;
  color: #003366; /* Azul escuro */
}

input {
  padding: 10px;
  width: 80%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.add-btn, .delete-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #00509e; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-btn:hover, .delete-btn:hover {
  background-color: #003366;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
}

.pokemon-item {
  background-color: #e6f0ff; 
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-info {
  flex-grow: 1;
}
